.section.features {
    padding-top: 94px;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.feature-list {
    display: flex;
}

.feature-list li {
    width: 270px;
}

.feature-list li:not(:last-child) {
    margin-right: 30px;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--taam-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-list .title {
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.feature-list .text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}